.footer-mainContainer {
  background-color: var(--ip-border-clr);
  @include flex-cc;
  @include bodyText;

  .develop {
    margin-left: 70rem;
    color: var(--lightest-bg-color);
  }

  .footer-containerContent {
    margin-top: 5rem;
    width: var(--landing-page-main-info-width);

    .footer-innerContainer {
      background-color: white;
      border-radius: 1rem;
      @include flex-sec;

      .footer-logo {
        @include flex-cs(column);
        gap: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;

        .footer-companyIcon {
          width: 10rem;
          height: 10rem;
          margin-left: 10rem;
        }
        .p {
          margin-left: 5rem;
        }

        .footer-address {
          @include flex-ss(row);
          gap: 0.6rem;

          .Icon {
            margin-top: 0.5rem;
          }
        }
      }
      .footer-quickLinks {
        @include flex-cc(column);

        .element {
          .footer-link {
            li {
              list-style-type: none;
              text-decoration: none;
              .footer-navlink {
                text-decoration: none;
                color: var(--darkest-bg-color);
              }
            }
          }
        }
      }
    }
  }
}
