.DownloadButtonContainer {
  margin: 12px 12px 0 15px;
  display: flex;
  align-items: center;
  text-align: center;

  .DownloadButtonText {
    cursor: pointer;
    background-color: rgb(77, 77, 219);
    color: aliceblue;
    padding: 0.4vw 0.3vw;
    border-radius: 0.9vw;
    font-weight: 200;
  }
}
