.JoinNowButton {
    margin: {
      bottom: 2%;
    }
    text-align: center;
    a {
      display: inline-block;
      padding: 1rem 2rem;
      width: 12rem;
      background-color: var(--primary-color);
      color: #fff;
      text-decoration: none;
      border-radius: 0.6rem;
      transition: background-color 250ms ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }