.main-container {
  @include bodyText;
  @include flex-cc;
  .width-container {
    width: var(--landing-page-main-info-width);
    @include flex-cc;
    margin-top: 9%;
    margin-bottom: 6.7%;

    @media screen and (max-width:1000px) {
      @include flex-cc(column);
      margin-top: 15%;

    }

    .about-content {
      text-align: justify;
      padding-right: 3%;
      h1 {
        color: var(--primary-color);
        font-size: 5rem;

        @media (max-width:415px) {
          font-size: 4.2rem;
          padding-top: 1rem;

        }
        
      }
      
      
      .content {
        font-size: 2rem;
      }
      .info-card {
        @include flex-ses;
        margin-top: 2.5%;
        gap: 5rem;
        h1 {
          color: var(--primary-color);
          font-size: 5rem;
        }
        .info-txt {
          color: var(--primary-color);
          font-size: 2rem;
        }
      }
    }

    .video-content {
      iframe {
        margin-top: 20px;

        margin-bottom: 30px;

        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 4px 4px 14px #000;
        -webkit-box-shadow: 4px 4px 14px #000;
        box-shadow: 4px 4px 14px #000;
        transition: transform 0.3s ease;
    
        width:53rem;
        height:30rem;
        @media screen and (max-width:1000px) {
          width: 40rem;
          height: 24rem; 
      
        }
      }
      iframe:hover {
        transform: scale(1.05); /* Increase size on hover */
    }
    }
  }
}
