.freeStudy {
  @include flex-cc;
  @include bodyText;
  padding: 3rem 0;
  width: 100%;
  background-color: var(--lightest-bg-color);

  .container {
    @include flex-cc(column);
    width: var(--landing-page-main-info-width);

    .row {
      width: 100%;
      // @include flex-cc(column);
      text-align: center;
    }

    h1 {
      @include h1;
      color: var(--primary-color);
      margin-bottom: 2rem;
    }
    .section-title p{
      @include h4;
    }
    .subhead {
      @include h3;
      @include flex-cc;
      gap: 1rem;
      color: var(--darkest-bg-color);
      margin: 3rem 0;
      align-self: flex-start;
      text-align: left;

      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    .material_container {
      //   @include flex-sest;
      display: flex;
      align-items: stretch;
      justify-content: center;
      // @include
      flex-wrap: wrap;
      width: 70%;
      height: 100%;
      @media (max-width:720px) {
        width:90%;
        gap:1.5rem;
      }
      .material_card {
        width: 30%;
        padding: 1rem;

        @media (max-width:720px) {
          width:15rem;
        }
        // height: 100%;
        .single-free-study {
          @include flex-sbc(column);
          width: 100%;
          height: 100%;
          .image {
            img {
              width: 30%;
              object-fit: cover;
              border-radius: 10%;
            }
          }
          .content {
            text-align: center;
            // height: 100%;
            flex: 1;
            @include flex-sec(column);
            h5 {
              @include font-style(2rem, 600);
            }
            a {
              // make it like a button
              @include bodyText;
              @include transition;
              text-decoration: none;
              background-color: var(--light-bg-color);
              padding: 1rem;
              border-radius: 2rem;
              width: fit-content;
              &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                transform: scale(1.1);
                background-color: var(--medium-bg-color);
                @include transition;
              }
            }
          }
        }
      }
    }
  }
}
