.landing-highlight {
  @include grid-cc;
  @include bodyText;
  // background: var(--landing-bg-liner-grad);
  width: 100%;

  .landing-info-container {
    width: var(--landing-page-main-info-width);
    opacity: 0.9;
    // @include grid-cc;

    .landing-info-subcontainer {
      @include grid-ss;
      @include grid-n-col((2fr, 1fr));
      gap: 5rem;
      margin-top: 6rem;
      @media (max-width: 40em) {
        @include grid-n-col((1fr));
        margin-top: 8rem;
        gap: 3rem;
      }

      .landing-info {
        @include flex-ss(column);
        width: 100%;
        h1 {
          @include h1;
          @media (max-width: 40em) {
            @include h2;
          }
          color: var(--landing-main-head-color);

          .landing-animation-full-screen {
            color: var(--golden-color);
            @media (max-width: 40em) {
              display: none;
            }
          }
          .landing-animation-media-screen {
            color: var(--landing-primary-color);
            display: none;
            @media (max-width: 40em) {
              display: block;
              height: 10rem;
            }
          }
        }
        p {
          color: var(--landing-desc-color);
          letter-spacing: 0.1rem;
          @include h5;
          margin-bottom: 2.5rem;
          @media (max-width: 40em) {
            @include h5;
            letter-spacing: 0;
          }
        }
        @media (max-width: 40em) {
          @include flex-cc(column);
        }
      }

      .landing-img {
        @include flex-cc;

        img {
          @media (max-width: 40em) {
            display: none;
          }
        }
      }
    }
  }

  .landing-home-contact-field {
    // margin: {
    //   top: 5rem;
    //   bottom: 2.5rem;
    //   left: 5%;
    // }
    margin-left: 5%;
    align-self: start;
    justify-self: start;

    form {
      input {
        border: 0.2rem solid var(--landing-medium-bg-color);
        border-radius: 1rem;
        margin-bottom: 2.5rem;
        background-color: var(--light-bg-color);
        height: 4.5rem;
        width: 100%;
        padding: 1.4rem;
        box-shadow: inset 0px 0px 10px 0px rgba(73, 107, 126, 0.75);
        &.error {
          border-color: red;
        }
      }
    }

    @media (max-width: 40em) {
      width: var(--landing-page-main-info-width);
      align-self: center;
      justify-self: center;
      margin: {
        top: 2rem;
        left: 0;
        // bottom: 2rem;
      }
    }
  }

  .btn {
    @include btn(var(--landing-btn-background-color), var(--landing-button-color));
    @include flex-cc;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1rem 2rem;
    margin: {
      bottom: 2.5rem;
      left: 5%;
    }
    font-weight: 700;
    font-size: 2.4rem;
    align-self: start;
    justify-self: start;

    @media (max-width: 40em) {
      align-self: center;
      justify-self: center;
      margin-left: 0;
      // margin-top: 2rem;
    }
    &:hover {
      background-color: yellow;
    }
  }
}