.result-main-conatiner {
    background-color: var(--landing-dark-bg-color);
    width: 100%;
    background: linear-gradient(
      180deg,
      rgb(106, 131, 233)
      20%,
      rgba(91, 91, 161, 0.8)
      70%
    ),
    url('/src/assets/LandingPage/resultimage.png');
  background-size: 100%;
//   background-repeat: no-repeat;
  background-position: center;
  position: relative;

  
    .my-component {
      width: 90%;
      padding: 3%;
      box-sizing: border-box;
      margin: 0 auto; /* Center the component horizontally */
  
      .heading {
        @include flex-cc;
        @include h1;
        color: var(--landing-primary-color);
        font-weight: bold;
        margin-bottom: 5%;
      }
  
      .content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        .component {
          flex: 1;
          padding-right: 10%;
          box-sizing: border-box;
  
          .sub-heading {
            @include bodyText;
            color: #fff;
            font-size: 4rem;
  
            @media (max-width: 1048px) {
              font-size: 2.9rem;
            }
          }
  
          .description {
            @include h5;
            color: #fff;
            padding-left: 11%;
            padding-top: 3%;
            padding-bottom: 5%;
          }
  
          .numbers {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 5%;
            padding-left: 9.5%;
            color: #fff;
  
            span {
              @include bodyText;
              font-size: 2rem;
              color: #fff;
              font-weight: 500;
            }
  
            @media (max-width: 1048px) {
              display: flex;
              gap: 5%;
            }
          }
  
          hr {
            margin: 3% 0%;
            border: none;
            border-top: 1px solid #ccc;
          }
        }
  
        .component2 {
          flex: 1;
        //   background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
        //   background-size: cover;
        //   background-position: center;
        //   background-repeat: no-repeat;
  
          img {
            width: 100%;
            margin-left: 10%;
            margin-top: 16%;
            border-radius: 10%;
          }
  
          @media (max-width: 800px) {
            display: none;
          }
        }
  
        .join-now-button {
          padding: 2.5% 4%;
          background-color:var( --landing-darkest-bg-color);
          margin-left: 40%;
          margin-top: 5%;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color:#041143;
          }
        }
      }
  
      @media (min-width: 768px) {
        .my-component {
          .component2 {
            img {
              display: block;
            }
          }
        }
      }
    }
  }
  