@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

html {
  --btn-lr-pad: 1.6rem;
  --btn-tb-pad: .8rem;

  --section-tb-pad: 7.7rem;

  --font-family: "Hanken Grotesk", sans-serif;

  //variable names for the colors used in the website (#1DA1F2, #14171A, #657786 ,#AAB8C2 ,#E1E8ED,#F5F8FA)
  --lightest-bg-color: #F5F8FA;
  --light-bg-color: #E1E8ED;
  --medium-bg-color: #AAB8C2;
  --dark-bg-color: #657786;
  --darkest-bg-color: #14171A;
  --primary-color: #1DA1F2;
  


  --hero-bg-liner-grad: linear-gradient(104deg, #0061FF 30.47%, #60EFFF 108.71%);
  --text-liner-grad: linear-gradient(93deg, #0D47A1 49.87%, #2E93CA 85.58%);

  --ip-border-clr: #243a50;
  --ip-placeHolder-txt-clr: #657786;

  --landing-page-main-info-width: 90%;
  --spotlight-img-bg:#D9D9D9;
}