.Navbar-main-container {
  @include bodyText;
  // background-color: var(--ip-border-clr);
  padding: 1.5%;
  @include flex-cc;
  position: absolute;
  z-index: 10;
  .element {
    width: var(--landing-page-main-info-width);
    @include flex-sbc;
    // width: var(--landing-page-main-info-width);
    .navbar-heading {
      line-height: 200%;
      gap: 3rem;
      @include flex-cc;
      font-weight: 400;
      font-size: 1.7rem;
      //   @include bodyText(var(--lightest-bg-color), 2rem, 700);
      li {
        list-style-type: none;
        text-decoration: none;
        .navlink {
          text-decoration: none;
          color: var(--lightest-bg-color);
        }
        .active {
          color: var(--primary-color);
        }
      }
    }
  }
  .image {
    width: 22%;
  }
}
