.descComponentDivision {
    border-radius: 2rem;
    @include flex-sc(column);
    border: 0.1rem solid beige;
    z-index: 5;
    height: 30rem;
    width: var(--landing-page-main-info-width);
    overflow: hidden;
    box-shadow: 1rem 0.8rem 0.5rem var(--light-bg-color);
    img {
      width: 28rem;
      height: 25rem;
    }
    &:hover {
      background-color: var(--light-bg-color);
      transform: scale(1.1);
      @include transition(0.5s);
    }
    .button{
        background-color: aqua;
        width: 100%;
        padding: 2%;
        text-decoration: none;
    }
    .desc {
        padding:1%;
        background-color: lightcoral;
        color: black;
        width: 100%;
        display: flex; 
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 1.7rem;
      }
  }
  