@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
html {
  --btn-lr-pad: 1.6rem;
  --btn-tb-pad: .8rem;
  --section-tb-pad: 7.7rem;
  --font-family: "Hanken Grotesk", sans-serif;
  --lightest-bg-color: #F5F8FA;
  --light-bg-color: #E1E8ED;
  --medium-bg-color: #AAB8C2;
  --dark-bg-color: #657786;
  --darkest-bg-color: #14171A;
  --primary-color: #1DA1F2;
  --secondary-color: #fad776;
  --hero-bg-liner-grad: linear-gradient(104deg, #0061FF 30.47%, #60EFFF 108.71%);
  --text-liner-grad: linear-gradient(93deg, #0D47A1 49.87%, #2E93CA 85.58%);
  --ip-border-clr: #243a50;
  --ip-placeHolder-txt-clr: #657786;
  --landing-page-main-info-width: 90%;
  --spotlight-img-bg:#D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 60em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

*::-webkit-scrollbar {
  width: 1rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.App {
  min-height: 100vh;
}

img {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.Navbar-main-container {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  background-color: var(--ip-border-clr);
  padding-top: 1.8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.Navbar-main-container .element {
  width: var(--landing-page-main-info-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Navbar-main-container .element .navbar-heading {
  line-height: 200%;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.7rem;
}
.Navbar-main-container .element .navbar-heading li {
  list-style-type: none;
  text-decoration: none;
}
.Navbar-main-container .element .navbar-heading li .navlink {
  text-decoration: none;
  color: var(--lightest-bg-color);
}
.Navbar-main-container .element .navbar-heading li .active {
  color: var(--primary-color);
}
.Navbar-main-container .element .navbar-heading li .navbar-course-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--lightest-bg-color);
}
.Navbar-main-container .element .navbar-heading li .navbar-course-details .drop-arrow {
  margin-top: 30%;
}
.Navbar-main-container .element .navbar-heading li .courses-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  position: absolute;
  background-color: var(--ip-border-clr);
  border-radius: 4px;
  padding: 10px;
  z-index: 100;
}
.Navbar-main-container .image {
  width: 22%;
}

.Navbar-main-container.homeroute {
  background-color: transparent; /* Set background to transparent if 'homeroute' class is present */
}

.NewOffer-main-container {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  position: fixed;
  width: 100%;
  z-index: 105;
  background-color: #df4759;
  padding: 0.2%;
  line-height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.NewOffer-main-container .width {
  width: var(--landing-page-main-info-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.NewOffer-main-container .width .content {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--lightest-bg-color);
}
.NewOffer-main-container .width .content .content-sub {
  color: #fad776 !important;
}
.NewOffer-main-container .width .button {
  text-decoration: none;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  padding: 0.1% 0.3%;
  color: #df4759;
}
.NewOffer-main-container .cross {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--lightest-bg-color);
  color: white;
}
.NewOffer-main-container .cross:hover {
  color: black;
}
.NewOffer-main-container .NewOffer-hidden {
  display: none;
}

.footer-mainContainer {
  background-color: var(--ip-border-clr);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
}
.footer-mainContainer .develop {
  text-align: center;
  color: var(--lightest-bg-color);
}
.footer-mainContainer .footer-containerContent {
  margin-top: 5rem;
  width: var(--landing-page-main-info-width);
}
.footer-mainContainer .footer-containerContent .footer-innerContainer {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-logo .footer-companyIcon {
  width: 10rem;
  height: 10rem;
  margin-left: 10rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-logo .p {
  margin-left: 5rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-logo .footer-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-logo .footer-address .Icon {
  margin-top: 0.5rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-quickLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-quickLinks .element .footer-link li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0.4rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-quickLinks .element .footer-link li .footer-navlink {
  text-decoration: none;
  color: var(--darkest-bg-color);
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-support {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-support .footer-support-link .point {
  margin-top: 0.4rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-joinUs .socialMedia-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.9rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-joinUs p {
  margin-top: 0.2rem;
}
.footer-mainContainer .footer-containerContent .footer-innerContainer .footer-joinUs .appstore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.your-custom-title-class {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  font-family: "Poppins", "sans-serif" !important;
}

.your-custom-html-container-class #custom-text {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
}

.contact-form-container-width {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e3f2fd;
}
.contact-form-container-width .contact-form-container {
  width: 90%;
  padding-top: 13rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: Poppins;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.contact-form-container-width .contact-form-container .contact-details-section {
  margin-top: 6.3rem;
  width: 50%;
  font-size: 3rem;
  font-weight: 500;
  font-family: Poppins;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container .contact-details-section {
    text-align: center;
    width: 80%;
  }
}
.contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-two {
  width: fit-content;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
  line-height: normal;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-two {
    text-align: center;
    width: 80%;
    padding-left: 18%;
  }
}
.contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-margin {
  width: 100%;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
  line-height: normal;
  margin-top: 4rem;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-margin {
    display: none;
  }
}
.contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-margin .contact-details-section-h2 {
  margin-bottom: 2rem;
}
.contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-margin .contact-detail-section-phone {
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.contact-form-container-width .contact-form-container .contact-details-section .contact-details-section-margin .contact-detail-section-phone .svg-margin {
  margin-left: 1rem;
}
.contact-form-container-width .contact-form-container .contact-details-section-margin-2 {
  padding-bottom: 5rem;
  display: none;
  width: 80%;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
  line-height: normal;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container .contact-details-section-margin-2 {
    display: flex;
    flex-direction: column;
  }
}
.contact-form-container-width .contact-form-container .contact-details-section-margin-2 .contact-details-section-h2 {
  margin-bottom: 2rem;
}
.contact-form-container-width .contact-form-container .contact-details-section-margin-2 .contact-detail-section-phone {
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.contact-form-container-width .contact-form-container .contact-details-section-margin-2 .contact-detail-section-phone .svg-margin {
  margin-left: 1rem;
}
.contact-form-container-width .contact-form-container .form-section {
  margin-top: 5rem;
  width: 50%;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1019607843);
  flex-shrink: 0;
  margin-bottom: 6.8rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
@media (max-width: 600px) {
  .contact-form-container-width .contact-form-container .form-section {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
.contact-form-container-width .contact-form-container .form-section.blur {
  position: relative;
}
.contact-form-container-width .contact-form-container .form-section.blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.849);
}
.contact-form-container-width .contact-form-container .form-section.blur .message-box {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-form-container-width .contact-form-container .form-section .message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.contact-form-container-width .contact-form-container .form-section .message-box .form-section-checkbox {
  display: flex;
  width: 30%;
  padding: 8.25px;
  height: 55px;
  margin-left: 9rem;
  margin-bottom: 1rem;
  border-radius: 275px;
  flex-shrink: 0;
  background: #05a77a;
}
.contact-form-container-width .contact-form-container .form-section .message-box .form-section-popup-msg-h1 {
  width: 32rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Poppins;
  margin-left: 2rem;
}
.contact-form-container-width .contact-form-container .form-section .message-box .form-section-popup-msg-h2 {
  width: 26rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
  text-align: center;
}
.contact-form-container-width .contact-form-container .form-section .form-group {
  display: flex;
  padding: 0.625rem;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .contact-form-container-width .contact-form-container .form-section .form-group {
    flex-direction: column;
  }
}
.contact-form-container-width .contact-form-container .form-section .form-group .form-group-input {
  width: 100%;
}
.contact-form-container-width .contact-form-container .form-section .form-group .form-section-inputfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.625rem;
  padding-right: 4rem;
  gap: 0.625rem;
  margin-bottom: 1rem;
  outline: none;
}
.contact-form-container-width .contact-form-container .form-section .form-group .form-section-inputfield.error {
  border-color: red;
}
.contact-form-container-width .contact-form-container .form-section .form-group .form-section-inputfield:focus {
  /* border color on focus */
  border-color: var(--primary-clr);
}
.contact-form-container-width .contact-form-container .form-section .form-group .error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.contact-form-container-width .contact-form-container .form-section .form-section-heading {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Poppins;
  line-height: normal;
  margin-left: 0.5rem;
  width: 100%;
}
.contact-form-container-width .contact-form-container .form-section .form-section-select {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
  display: flex;
  width: 98%;
  padding: 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid rgba(105, 102, 102, 0.21);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.contact-form-container-width .contact-form-container .form-section .form-section-textarea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 98%;
  margin-left: 0.5rem;
  height: 8.1875rem;
  padding: 0.625rem;
  gap: 0.625rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
  resize: vertical;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Poppins;
}
.contact-form-container-width .contact-form-container .form-section .form-section-textarea .form-section-textarea:focus {
  /* border color on focus */
  border-color: var(--primary-clr);
}
.contact-form-container-width .contact-form-container .form-section .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 1.6%;
  border-radius: 1rem;
  width: 9.3rem;
  color: #fff;
  margin-left: 0.5rem;
}
.contact-form-container-width .contact-form-container .form-section .hints {
  margin-top: 2rem;
  color: #696666;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Poppins;
  text-align: justify;
  margin-left: 0.5rem;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Home .highlight {
  height: 90vh;
  width: 100%;
}
.Home .highlight video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}
.Home .highlight .overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ip-border-clr);
  opacity: 0.9;
}
.Home .highlight .overlay .content {
  width: var(--landing-page-main-info-width);
  margin-top: 14rem;
}
.Home .highlight .overlay .content h1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--lightest-bg-color);
}
.Home .highlight .overlay .content h1 span {
  color: var(--secondary-color);
}
.Home .highlight .overlay .content p {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  color: var(--lightest-bg-color);
  letter-spacing: 0.1rem;
}
.Home .highlight .overlay .content .btn {
  padding: var(--btn-tb-pad) var(--btn-lr-pad);
  background: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  color: #000;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: fit-content;
  color: aliceblue;
}
.Home .director-card {
  width: 70%;
  transform: translateY(-40%);
}
.Home .director-card .my_card-container {
  display: flex;
  justify-content: space-between;
}
.Home .director-card .my_card-container .inner_card {
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22.5%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.05) !important;
  justify-content: center;
  align-items: center;
}
.Home .director-card .my_card-container .inner_card .text-content {
  padding-top: 5%;
  padding-bottom: 2%;
  align-items: center;
  justify-content: center;
}
.Home .director-card .my_card-container .inner_card .text-content .name {
  font-size: 1.6rem;
  color: var(--darkest-bg-color);
  padding-bottom: 5px;
  font-weight: 550;
}
.Home .director-card .my_card-container .inner_card .text-content .description {
  color: rgb(128, 128, 128);
}
.Home .director-card .my_card-container .inner_card .text-content .description .sub {
  padding-top: 5%;
}
.Home .resultSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  padding: 3rem 0;
  width: 100%;
  background-color: var(--lightest-bg-color);
}
.Home .resultSection .containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--landing-page-main-info-width);
  border-radius: 10px;
}
.Home .resultSection .containerMain h1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.Home .resultSection #result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
.Home .resultSection #result .container .row.mt-6 {
  margin-top: 4rem;
}
.Home .resultSection #result .container .row .inner-row .badge {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 0.375rem;
}
.Home .resultSection #result .container .row .inner-row h2 {
  font-size: 3.2rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.Home .resultSection #result .container .row .inner-row h2.fw-bolder {
  font-weight: bolder;
}
.Home .resultSection #result .container .row .card-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 0.3rem solid #0d6efd;
  padding: 2rem;
  margin-bottom: 2rem;
}
.Home .resultSection #result .container .row .card-group.card-border.border-primary {
  border-color: #0d6efd;
}
.Home .resultSection #result .container .row .card-group.card-border.shadow-light-lg {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.Home .resultSection #result .container .row .card-group.card-border.lift {
  transition: transform 0.3s ease;
}
.Home .resultSection #result .container .row .card-group.card-border.lift-lg:hover {
  transform: translateY(-0.5rem);
}
.Home .resultSection #result .container .row .card-group .card {
  width: 20%;
}
.Home .resultSection #result .container .row .card-group .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home .resultSection #result .container .row .card-group .card .card-body .year-name {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 0.375rem;
}
.Home .resultSection #result .container .row .card-group .card .card-body h2 {
  font-size: 4.8rem;
  font-weight: 600;
  font-family: var(--font-family);
}
.Home .resultSection #result .container .row .card-group .card .card-body h2.fw-bolder {
  font-weight: bold;
}
.Home .resultSection #result .container .row .card-group .card .card-body h2.text-center {
  text-align: center;
}
.Home .resultSection #result .container .row .card-group .card .card-body h2 span.text-danger {
  color: #dc3545;
}
.Home .resultSection #result .container .row .card-group .card .card-body h2 span.fw-bold {
  font-weight: bold;
}
.Home .resultSection #result .container .row .card-group .card .card-body p.text-muted {
  color: #6c757d;
}
.Home .resultSection #result .container .row .card-group .card .card-body p.text-center {
  text-align: center;
}
.Home .resultSection #result .container .row .card-group .card .card-body p span.text-danger {
  color: #dc3545;
}
.Home .resultSection #result .container .row .card-group .card .card-body p span.fw-bold {
  font-weight: bold;
}
.Home .TestimonialsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  padding: 3rem 0;
  width: 100%;
  background-color: var(--lightest-bg-color);
}
.Home .TestimonialsSection .containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--landing-page-main-info-width);
}
.Home .TestimonialsSection .containerMain h1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp {
  transition: all 0.2s;
  scroll-behavior: smooth;
  display: flex;
  width: 90%;
  position: relative;
  z-index: 1;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 2rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp::-webkit-scrollbar {
  display: none;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 40rem;
  min-height: 27.3rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content {
  padding: 0 2rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item {
  text-align: center;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-img-block {
  position: relative;
  display: inline-block;
  margin-bottom: 1.8rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-img-block .testimonial-img {
  display: inline-block;
  max-width: 13.6rem;
  height: 13.6rem;
  vertical-align: middle;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-img-block .testimonial-play-btn {
  display: block;
  position: absolute;
  right: 0;
  bottom: 5px;
  max-width: 80px;
  height: 50px;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--dark-text-color);
  margin-bottom: 1.6rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-name {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--dark-text-color);
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .TestimonialComp .card-item .item-content .testimonial-item .testimonial-title {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--dark-text-color);
  font-weight: 400;
}
.Home .TestimonialsSection .containerMain .testimonials-container .arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  width: 5rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .arrow img {
  width: 100%;
  height: 10rem;
}
.Home .TestimonialsSection .containerMain .testimonials-container .arrow.left-arrow {
  transform: rotate(180deg) translateX(50%);
}
.Home .TestimonialsSection .containerMain .testimonials-container .arrow.right-arrow {
  transform: translateX(50%);
}

.CourseMainContainer .CourseCardMainContainer {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  width: var(--landing-page-main-info-width);
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseDetails {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  width: var(--landing-page-main-info-width);
  margin-bottom: 3.2%;
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseDetails span {
  color: #e14255;
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseCardComponent {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 2%;
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseCardComponent .ComponentDivision {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.1rem solid beige;
  z-index: 5;
  height: 30rem;
  width: var(--landing-page-main-info-width);
  overflow: hidden;
  box-shadow: 1rem 0.8rem 0.5rem var(--light-bg-color);
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseCardComponent .ComponentDivision img {
  width: 100%;
  height: 100%;
}
.CourseMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseCardComponent .ComponentDivision:hover {
  background-color: var(--light-bg-color);
  transform: scale(1.1);
  transition: all 0.5s;
}

.TestMainContainer .TestCardMainContainer {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  width: var(--landing-page-main-info-width);
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestDetails {
  font-size: 3.6rem;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  width: var(--landing-page-main-info-width);
  margin-bottom: 3.2%;
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestDetails span {
  color: #e14255;
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestCardComponent {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  gap: 5rem;
  margin-bottom: 2%;
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestCardComponent .ComponentDivision {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.1rem solid beige;
  z-index: 5;
  height: 30rem;
  width: var(--landing-page-main-info-width);
  overflow: hidden;
  box-shadow: 1rem 0.8rem 0.5rem var(--light-bg-color);
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestCardComponent .ComponentDivision img {
  width: 100%;
  height: 100%;
}
.TestMainContainer .TestCardMainContainer .TestCardSubContainer .TestCardComponent .ComponentDivision:hover {
  background-color: var(--light-bg-color);
  transform: scale(1.1);
  transition: all 0.5s;
}

.CourseDetailsMainContainer .CourseCardMainContainer {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--darkest-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer {
  margin-top: 8%;
  width: var(--landing-page-main-info-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseTitle {
  margin-bottom: 2rem;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseTitle h1 {
  color: var(--primary-color);
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50rem;
  width: 100%;
  box-shadow: 1rem 0.8rem 0.5rem var(--light-bg-color);
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft {
  width: 35%;
  padding: 2rem;
  border-right: 1px solid red;
  height: 100%;
  overflow-y: auto;
  text-align: justify;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft::-webkit-scrollbar {
  width: 0.6rem;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft:focus {
  outline: none;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft .CourseMenu h3 {
  cursor: pointer;
  padding: 1rem;
  transition: background-color 250ms ease, color 250ms ease;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft .CourseMenu h3:hover {
  background-color: var(--medium-bg-color);
  color: #fff;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsLeft .CourseMenu h3.active {
  background-color: var(--primary-color);
  color: #fff;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight {
  width: 65%;
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight::-webkit-scrollbar {
  width: 0.6rem;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight h3 span {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight .refundPolicy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight .refundPolicy a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--dark-bg-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0.6rem;
  transition: background-color 250ms ease;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight .refundPolicy a:hover {
  background-color: var(--darkest-bg-color);
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseMiddleContent .CourseDetailsRight ul li {
  margin-top: 1.5%;
  list-style-type: none;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CommonCourse {
  margin-top: 1.8%;
  align-self: center;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CommonCourse .CourseContact {
  margin-top: 2%;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CommonCourse .CourseContact h2 {
  margin-bottom: 1%;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseButton {
  margin-top: 1.4%;
  margin-bottom: 2%;
  text-align: center;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseButton a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0.6rem;
  transition: background-color 250ms ease;
}
.CourseDetailsMainContainer .CourseCardMainContainer .CourseCardSubContainer .CourseButton a:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  padding-top: 2%;
}
.modal-overlay .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}
.modal-overlay .modal .modal-close {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  color: white;
  font-size: 4rem;
}
.modal-overlay .modal .video-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  aspect-ratio: 16/9;
}
.modal-overlay .modal .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
