.TestCardMainContainer {
  @include bodyText;
  @include flex-cc;
  .TestCardSubContainer {
    @include flex-cc(column);
    margin-top: 11rem;
    width: var(--landing-page-main-info-width);
    .TestDetails {
      @include h3;
      width: var(--landing-page-main-info-width);
      margin-bottom: 3.2%;
      span {
        color: #e14255;
      }
      @media (max-width: 550px) {
        @include h4;
      }
    }
    .TestCardComponent {
      @include grid-sc;
      @include grid-n-eql-col(3);
      justify-content: space-between;
      width: 90%;
      flex-wrap: wrap;
      gap: 5rem 2rem;
      margin-bottom: 2%;

      @media (min-width: 400px) and (max-width: 550px) {
        @include grid-n-eql-col(1);
      }

      @media (min-width: 550px) and (max-width: 800px) {
        @include grid-n-eql-col(2);
      }

      @import '../CardComponent/CardComponent.scss';
    }
  }
}
